$bg-color: #10161b;
$navbar-bg: #374859;
$footer-bg: #283440;
$text-color: #464646;

// gradient overlays
// hoth
$t: rgb(78, 149, 176);
$hoth: rgb(177, 216, 236), rgb(96, 125, 139);
$tatooine: rgb(156, 99, 8), rgb(189, 171, 142);
$kamino: rgb(44, 32, 53), rgb(141, 204, 210);
$yavin4: rgba(116, 35, 31, 0.5), rgba(124, 206, 235, 0.5);
$endor: rgba(54, 50, 30, 0.5), rgba(24, 44, 18, 0.5);

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    color: #ffffff;
}

#grid {
    display: grid;
    grid-template-rows: 50px 1fr 30px;
    grid-template-columns: 100%;
    grid-template-areas: "nav"
                         "main"
                         "foot";
    min-height: 100%;

    height: 100%;
}

#grid > main {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;
}

#grid > footer {
    grid-area: foot;
    align-items: left;
    font-size: 0.8em;

    #copyright {
        margin: 5px auto 0 auto;
        width: 50%;
        text-align: center;
    }
}

#grid > nav{
    grid-area: nav;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    ul {
        list-style-type: none;
        padding: 0;
    
        li {
            display: inline;
            padding: 5px 15px;
    
            &:hover {
                cursor: pointer;
                border-bottom: 1px #ffffff solid;
            }
        }
    }
}

#getLocation {
    text-align: center;

    button {
        color: #ffffff;
        font-size: 1.4em;
        padding: 15px 35px 15px 35px;
        border: none;
        border-radius: 7px;
        background-color: #0288D1;
        cursor: pointer;

        &:hover {
            background-color: #0277BD;
        }

        &:active {
            background-color: #039BE5;
        }
    }
}

#search {
    position: absolute;
    right: 10px;
    top: 10px;

    #gpsIcon {
        margin-top: 29px;
        color: #ffffff;

    }

    .shadow {
        display: flex;
        background-color: #ffffff;
        border-radius: 5px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        transition: box-shadow 0.3s ease-in-out;

        &:hover {
            box-shadow: 0 6px 12px rgba(0,0,0,0.20), 0 6px 12px rgba(0,0,0,0.20);
        }

        &:focus {
            box-shadow: 0 6px 12px rgba(0,0,0,0.20), 0 6px 12px rgba(0,0,0,0.20);
        }
    }

    a[type=button] {
        margin: auto;
        margin-right: 10px;
        color: #ffffff;
        border: none;
        background: none;
        user-select: none;
        cursor: pointer;


        &:hover {
            color: #E53935;
        }
        &:active {
            color: #EF5350;
        }
        &:focus {
            outline: none;
        }
        
    }
    

    form {
        display: flex;
        margin-right: 4px; 


    }

    input {
        height: 30px;
        width: 175px;
        padding: 5px;
        font-size: 0.9em;
        text-indent: 10px;
        border: none;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;

        &:focus {
            outline: none;
        }


    }

    a[type=submit] {
        margin: auto;
        padding-right: 5px;
        text-align: center;
        color: #10161b;
        border: none;
        background-color: #ffffff;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        user-select: none;
        cursor: pointer;

        &:hover {
            color: #039be5;
        }
        &:active {
            color: #4fc3f7;
        }
        &:focus {
            outline: none;
        }
    }


}

#weather {
    display: flex;
    flex-basis: 100%;
    user-select: none;
    margin-left: 22px;  // line up with search box

    #data {
        display: flex;
        flex-direction: column;

        justify-content: center;

        #temp {
            font-size: 1.5em;
        }
    }
}

.middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    user-select: none;

    span {
        font-size: 2em;
    }
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    user-select: none;
}
 
.title {
    text-transform: uppercase;
    font-size: 7em;
    letter-spacing: 0.3em;
    text-align: center;
}

.description {
    margin-top: 7em;
    text-align: left;
    font-size: 1.5em;
}

